<div class="container landing">
    <div class="jumbotron">
        <span class="fa fa-comments"></span><h1>ChatHub</h1>
        <div><small>Only for the cool kids.</small></div>
        <p><a href="/user/signup" class="btn btn-primary btn-lg">Signup</a> <a href="/user/login" class="btn btn-success btn-lg">Log in</a></p>
    </div>
</div>