<!DOCTYPE html>
<html>
  <head>
    <title>New Sails App</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,400italic|Kaushan+Script' rel='stylesheet' type='text/css'>
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->

    <!--SCRIPTS-->
    <script src="/js/dependencies/jquery.min.js"></script>
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <!--SCRIPTS END-->
  </head>

  <body>
    <%- body %>

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->
    <script type="text/javascript">
    $(function() {
      io.socket.on('online', function (data) {
        console.log(data.msg);
      });
      io.socket.on('offline', function (data) {
        console.log(data.msg);
      });
    });
    </script>

  </body>
</html>
