<div class="container landing">
    <div class="jumbotron">
        <span class="fa fa-comments"></span><h1>ChatHub</h1>
        <div><small>Only for the cool kids.</small></div>
        <p><a href="/user/signup" class="btn btn-primary btn-lg">Signup</a></p>
        <div id="login-form" class="landing-form">
            <form role="form" action="/login" method="POST">
                <div class="form-group">
                    <label for="username">Email Address</label>
                    <input type="email" class="form-control" name="username">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" name="password">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </div>
</div>